@import "tailwindcss";

body {
  min-height: 100vh;
  font-family: "Marhey", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

a.active hr {
  display: block;
}

#menu-list::-webkit-scrollbar {
  display: none;
}

.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}